[submodule "src/premake/extensions/premake-qt"]
	path = src/premake/extensions/premake-qt
	url = https://github.com/dcourtois/premake-qt.git
[submodule "src/premake/extensions/premake-qmake"]
	path = src/premake/extensions/premake-qmake
	url = https://github.com/Gaztin/premake-qmake
